{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
  {% if site_url %}
    <a href="{{ site_url }}">{% translate 'View site' %}</a> /
  {% endif %}
  {% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
      <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
    {% endif %}
  {% endif %}
  {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
  {% endif %}
  {% if not is_ingress %}
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
      {% csrf_token %}
      <button type="submit">{% translate 'Log out' %}</button>
    </form>
  {% endif %}
  {% include "admin/color_theme_toggle.html" %}
{% endblock %}
