---
name: CI

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev --locked

      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
        with:
          extra-args: --all-files --verbose --skip no-commit-to-branch

  tests:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      pull-requests: write

    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DJANGO_SETTINGS_MODULE: config.settings
      DATABASE_URL: postgres://postgres:postgresOOO@localhost:5432/test

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev --locked

      - name: Collect static files
        run: |
          uv run django-admin collectstatic --noinput

      - name: Run tests
        id: tests
        run: |
          set -o pipefail
          echo 'stdout<<EOF' > "$GITHUB_OUTPUT"
          uv run pytest --cov 2>&1 | tee -a "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"

      - name: Add PR Comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          header: test_results
          message: |
            # Test results :white_check_mark:
            ```
            ${{ steps.tests.outputs.stdout }}
            ```

      - name: Remove PR Comment on failure
        if: failure()
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          header: test_results
          delete: true

  docker:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Build Docker image
        run: |
          docker build -t dailyword:test .
